// comment
/*comment*/
Obj(
    nums: [1, 0b1000, 0o1000, 0x1234, +1.0, 1.111, 1e+1, 1.1E1, NaN, inf],
    strs: ["abc", """abc""", "\n\u1234&lt;", r#"\nu123&lt"#],
    chars: ['a', '\n'],
    bools: [true, false],
    date: "1999-01-23",
    times: ["22:22:22", "22:22:22.2222"],
    datetimes: [
    "1999-01-23T22:22:22.22Z",
    "1999-01-23 22:22:22.22",
    "1999-01-23 22:22:22.22-01:00",
    ],
    tuple: (1, 2),
    map: {
        "v1": V1,
        "v2": V2
    }
    option: [None, Some(2)]
)