# target dirs
*target/ 
*bin/
*obj/
*build/
*dist-newstyle/
*gradle/
*out/
gradlew*
*venv/

*.exe
*.iml

# Cpp
cpp/**
!cpp/*.cpp
!cpp/*.hpp
!cpp/*.md

# ide locals
*.vs/
*.vscode/
*.gradle/
*.idea/
*.ipynb_checkpoints/

# markup
markup/*.html

# latex specific
/latex/*
!/latex/test.tex

# other
*.lock
*.log
*.cache
*TODO*

.fake

